#detailRestaurant {
  margin-top: 60px;
}

.detail-image img{
  width: 100%;
}

.detail-content, .detail-categories {
  padding: 1rem;
  font-size: .8rem;
  position: relative;
}

.detail-rating {
  position: absolute;
  font-size: 1rem;
  top: -5rem;
  width: 80px;
  background: #1e5f74;
  text-align: center;
  color: white;
  padding: 8px;
  border-radius: 0 25px 25px 0;
  left: 0;
}

.detail-address img{
  width: 14px;
  margin-right: 5px;
}

.detail-address {
  font-size: 14px;
  font-weight: unset;
}


.detail-description-title {
  margin-top: 2rem;
}

.detail-description-content {
  padding: 1rem;
  text-align: justify;
  font-size: .9rem;
  line-height: 24px;
  text-indent: 3rem;
}

.detail-categories ul {
  margin-top: 2rem;
}

.category-name {
  font-size: 1.2rem;
  display: inline-block;
  margin: 1rem 5px 0 1rem;
  width: 70px;
  background: #1e5f74;
  color: #fff;
  border-radius: 25px;
  padding: 1rem;
  text-align: center;
}

.foods-title, .drinks-title, .review-title{
  width: 50%;
  padding: 1rem;
  border-radius: 0 25px 25px 0;
  text-align: center;
  margin: 3rem 0;
}

.foods li, .drinks li{
  width: 80%;
  text-align: center;
  border: solid 2px #ffe05d;
  margin: 2rem auto;
}

.image-menu {
  max-width: 200px;
  object-fit: cover;
  margin: 2rem auto;
}

.food-name, .drink-name {
  padding: 1rem;
  margin: 0;
}

.foods-title, .food-name{
  background: #ffe05d;
}

.drinks-title, .drink-name, .review-title{
  background: #51adcf;
  color: #fff;
}

.review-title{
  background: #1e5f74;
  color: #fff;
}

.drinks li {
  border: solid 2px #51adcf;
}

.reviews{
  padding: 0 2rem;
  margin-bottom: 4rem;
}

.reviews li {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin-bottom: 1rem;
}

.review-date {
  position: relative;
  font-style: italic;
  top: -20px;
}

.review-name {
  font-size: 1.5rem;
}

form {
  border: 5px solid #f1f1f1;
}

input[type=text]  {
  width: 100%;
  padding: 16px 8px;
  margin: 1rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4286f4;
  color: white;
  padding: 14px 0;
  margin: 10px 0;
  border: none;
  cursor: grab;
  width: 30%;
  min-width: 44px;
  min-height: 44px;
}

h1 {
  text-align: center;
  font-size: 1rem;
}

button:hover {
  opacity: 0.8;
  }

.formcontainer {
  text-align: center;
  margin: 24px 50px 12px;
}

.container {
  padding: 1rem 0;
  text-align:left;
}