
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Oleo+Script:wght@700&family=Roboto&display=swap');
/* start header */


body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1e5f74;
    height: 60px;
    z-index: 2;
    display: inline;
}

.hero img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.nav-icon {
    text-decoration: none;
    display: inline;
    font-size: 2rem;
    min-width: 44px;
    min-height: 44px;
    color: white;
    margin-left: 1rem;
    line-height: 60px;
}

.brand-title {
    font-size: 2rem;
    font-family: 'Oleo Script', cursive;
    color: white;
    display: inline;
    margin-left: 10px;
    line-height: 60px;
}


nav {
    margin-top: -17px;
    width: 50%;
    height: 100vh;
    z-index: 1;
    background: #1e5f74;
    position: sticky;
    margin-left: -50%;
    border-radius: 0 2rem 0 0;
    transition: transform .5s ease-in-out;
}

.open {
    transform: translate(50vw, 0);
}

.nav-list {
    font-size: 1rem;
    display: list-item;
    padding: 1rem;
}

.nav-item {
    padding: .5em;
    max-width: 40%;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    padding: .8em .5em;
}

.nav-item a::after {
    content: '';
    display: block;
    border-bottom: 4px solid #000;
    width: 3em;
    margin-left: 1em;
    padding-top: .5em;
}

.tagline {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-family: 'Bangers', cursive;
    position: absolute;
    color: white;
    top: 4rem;
    line-height: 10px;
}

.tagline-first {
    margin-left: -3rem;
}

.tagline-sec {
    margin-left: 3rem;
}

.hero-desc {
    position: absolute;
    font-size: .8rem;
    margin-top: 8em;
    text-align: center;
    color: white;
    line-height: 1.3em;
    padding: 2rem;
}


/* end header */

/* Awal main */

#content {
    position: relative;
    z-index: 1;
    background: #fff;
}

.main-title {
    width: 80%;
    position: relative;
    text-align: center;
    font-size: 1.6rem;
    margin: 4em auto;
    font-weight: bold;
}

section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin: 1rem 1rem 0 1rem;
    position: relative;
}

section img {
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.restaurant-list {
    padding: 2rem;
}

.restaurant-place {
    position: absolute;
    font-size: 1rem;
    color: #fff;
    top: .5em;
    left: 1em;
    width: 20%;
    text-align: center;
    background: #1e5f74;
    border-radius: .5em;
    padding: .5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
}

.restaurant-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.restaurant-rating {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.restaurant-desc {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 3em;
}

footer {
    width: 100%;
    background: #1e5f74;
    color: #fff;
}

.copyright {
    font-size: 1rem;
    text-align: center;
    padding: 1.2em 0;
    font-family: 'Oleo Script', cursive;
    margin: 2rem 0 0 0 ;
}

.skip-content {
    position: absolute;
    top: 1em;
    right: 2em;
    font-size: .8rem;
    padding: 1em;
    text-decoration: none;
    background: #fff;
    color: #1e5f74;
    font-weight: bold;
    border-radius: 1em;
    z-index: -2;
}

.skip-content:focus {
    z-index: 2;
}


@media screen and (min-width: 400px) {

    .hero .hero-tagline-first,
    .hero-tagline-sec {
        font-size: 1.8rem;
    }

    .hero-desc {
        font-size: 1rem;
    }
}

@media screen and (min-width: 500px) {
    .hero-desc {
        font-size: 1.2rem;
    }
}


@media screen and (min-width: 600px) {
    .restaurant-list {
        padding: 3rem;
    }

    .hero .hero-tagline-first,
    .hero-tagline-sec {
        font-size: 2rem;
    }

    .copyright {
        font-size: 2rem;
    }
}

@media screen and (min-width: 650px) {
    #restaurantList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }

    .restaurant-list {
        padding: 1.3em;
    }

    section {
        margin: 0;
    }

    .brand-title {
        font-size: 3rem;
        line-height: 80px;
        margin-left: .5em;
    }

    .hero-desc {
        font-size: 1.5rem;
        top: 3em;
    }

    header{
        height: 80px;
    }

    .nav-icon {
        display: none;
    }

    nav {
        width: 100%;
        background: none;
        left: 0;
        margin-top: -4.5rem;
        text-align: right;
        height: fit-content;
    }

    .nav-list {
        padding: 0;
    }

    .nav-item {
        display: inline-block;
    }

    .nav-item a {
        color: #fff;
    }

    .nav-item a::after {
        content: none;
    }

    .nav-item a:hover {
        border-bottom: 4px solid #5fdde5;
        border-radius: 1em;
    }

    .skip-content {
        top: 7em;
        font-size: 1rem;
        background: #1e5f74;
        color: #fff;
    }
}

@media screen and (min-width: 800px) {
    .restaurant-list {
        padding: 2rem;
    }
}

@media screen and (min-width: 900px) {
    .hero-desc {
        font-size: 1.8rem;
    }

    .nav-list {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    #restaurantList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .restaurant-list {
        padding: 1rem;
    }

    .nav-list {
        font-size: 1.4rem;
        margin: 1rem;
    }

    nav{
        margin-top: -5rem;
    }
}

@media screen and (min-width: 1400px) {
    body {
        margin: auto;
        max-width: 1400px;
    }

    .brand-title {
        font-size: 4rem;
    }

    .nav-list {
        font-size: 2rem;
    }
    
}