@media screen and (min-width: 400px) {

  .hero .hero-tagline-first,
  .hero-tagline-sec {
     font-size: 1.8rem;
  }

  .hero-desc {
    font-size: 1rem;
  }
}

@media screen and (min-width: 500px) {
  .hero-desc {
    font-size: 1.2rem;
  }
}


@media screen and (min-width: 600px) {
  .restaurant-list {
    padding: 3rem;
  }

  .hero .hero-tagline-first,
  .hero-tagline-sec {
    font-size: 2rem;
  }

  .copyright {
    font-size: 2rem;
  }
}

@media screen and (min-width: 650px) {
  #restaurantList, .foods ul, .drinks ul, .reviews ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  .restaurant-list {
    padding: 1.3em;
  }

  section {
    margin: 0;
  }

  .brand-title {
    font-size: 2rem;
    margin-left: .5em;
  }

  .hero-desc {
    font-size: 1.5rem;
    top: 3em;
  }

  .nav-icon {
    display: none;
  }

  nav {
    width: 100%;
    background: none;
    left: 0;
    margin-top: -3.5rem;
    text-align: right;
    height: fit-content;
  }

  .nav-list {
    padding: 0;
  }

  .nav-item {
    display: inline-block;
  }

  .nav-item a {
    color: #fff;
  }

  .nav-item a::after {
    content: none;
  }

  .nav-item a:hover {
    border-bottom: 4px solid #5fdde5;
    border-radius: 1em;
  }

  #content {
    margin-bottom: 8rem;
  }

  .main-title-favorite {
    margin-top: 8rem;
}

  .skip-content {
    top: 7em;
    font-size: 1rem;
    background: #1e5f74;
    color: #fff;
  }

  .tagline {
    font-size: 1.5rem;
    top: 9rem;
  }

  .foods-title, .drinks-title, .review-title {
    width: 40%;
    padding: 2rem;
    border-radius: 25px;
    text-align: center;
    margin: 3rem auto;
  }

  .detail-image{
    min-height: 250px;
  }

  .detail-image img{
    width: 50%;
  }
  
  .detail-rating, .detail-address img, .detail-address, .detail-name, .detail-categories {
    font-size: 1rem;
    position: absolute;
    top: 2em;
    left: 50%;
  }

  .detail-name {
    margin-left: 2rem;
  }

  .detail-rating {
    top: 3.5em;
    margin-left: .5em;
    background: none;
    color: #000;
  }

   .detail-address {
    top: 6em;
    margin-left: 2rem;
  }

  .detail-address img {
    top: 0;
    left: 0;
  }

  .detail-address span {
    margin-left: 1.3rem;
  }

  .detail-categories{
    top: 8em;
    margin-left: 1rem;
  }

  .detail-categories ul {
    margin-top: -1rem;
    margin-left: -1rem;
  }

  .category-name {
    font-size: 1rem;
    display: inline-block;
    width: 70px;
    margin: 1rem 5px 0 1rem;
    background: #1e5f74;
    color: #fff;
    border-radius: 25px 0 25px 0;
    padding: 8px;
  }

  .detail-content {
    position: static;
  }

  .loader {
    position: absolute;
    left: 48%;
    margin-bottom: 200px;
}

}

@media screen and (min-width: 800px) {
  .restaurant-list {
    padding: 2rem;
  }
}

@media screen and (min-width: 900px) {
    .tagline {
      font-size: 2rem;
    }

    .hero-desc {
    font-size: 1.8rem;
  }

  .nav-list {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1024px) {
  #restaurantList, .foods ul, .drinks ul  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .restaurant-list {
    padding: 1rem;
  }

  .tagline {
    font-size: 2.5rem;
    top: 12rem;
  }

  .hero-desc {
    font-size: 2rem;
  }

  .container {
    width: 70%;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .detail-rating, .detail-address img, .detail-address, .detail-name, .detail-categories {
    font-size: 1.3rem;
  }

  .detail-address img {
    width: 20px;
  }
}

@media screen and (min-width: 1400px) { 
  body {
    margin: auto;
    max-width: 1400px;
  }

  .tagline {
    font-size: 3rem;
  }

  .hero-desc {
    font-size: 2.5rem;
  }
}